# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea
/dist
/temp_images
/math_pdf_project
/math_pdf_project/all_files/engg_papers_2019.pdf
/math_pdf_project/all_files/engg_papers_2019-mg.pdf
/math_pdf_project/all_files/engg_papers_2019-mg_Page_1.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_2.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_3.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_4.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_5.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_6.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_7.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_8.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_9.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_10.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_11.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_12.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_13.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_14.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_15.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_16.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_17.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_18.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_19.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_20.png
/math_pdf_project/all_files/engg_papers_2019-mg_Page_21.png
/math_pdf_project/all_files/engg_papers_2019_Page_1.png
/math_pdf_project/all_files/engg_papers_2019_Page_2.png
/math_pdf_project/all_files/engg_papers_2019_Page_3.png
/math_pdf_project/all_files/engg_papers_2019_Page_4.png
/math_pdf_project/all_files/engg_papers_2019_Page_5.png
/math_pdf_project/all_files/engg_papers_2019_Page_6.png
/math_pdf_project/all_files/engg_papers_2019_Page_7.png
/math_pdf_project/all_files/engg_papers_2019_Page_8.png
/math_pdf_project/all_files/engg_papers_2019_Page_9.png
/math_pdf_project/all_files/engg_papers_2019_Page_10.png
/math_pdf_project/all_files/engg_papers_2019_Page_11.png
/math_pdf_project/all_files/engg_papers_2019_Page_12.png
/math_pdf_project/all_files/engg_papers_2019_Page_13.png
/math_pdf_project/all_files/engg_papers_2019_Page_14.png
/math_pdf_project/all_files/engg_papers_2019_Page_15.png
/math_pdf_project/all_files/engg_papers_2019_Page_16.png
/math_pdf_project/all_files/engg_papers_2019_Page_17.png
/math_pdf_project/all_files/engg_papers_2019_Page_18.png
/math_pdf_project/all_files/engg_papers_2019_Page_19.png
/math_pdf_project/all_files/engg_papers_2019_Page_20.png
/math_pdf_project/all_files/engg_papers_2019_Page_21.png
/math_pdf_project/all_files/engg_papers_2019_Page_22.png
/math_pdf_project/all_files/engg_papers_2019_Page_23.png
/math_pdf_project/all_files/engg_papers_2019_Page_24.png
/math_pdf_project/all_files/engg_papers_2019_Page_25.png
/math_pdf_project/all_files/engg_papers_2019_Page_26.png
/math_pdf_project/all_files/engg_papers_2019_Page_27.png
/math_pdf_project/all_files/engg_papers_2019_Page_28.png
/math_pdf_project/all_files/engg_papers_2019_Page_29.png
/math_pdf_project/all_files/engg_papers_2019_Page_30.png
/math_pdf_project/all_files/engg_papers_2019_Page_31.png
/math_pdf_project/all_files/engg_papers_2019_Page_32.png
/math_pdf_project/all_files/engg_papers_2019_Page_33.png
/math_pdf_project/all_files/engg_papers_2019_Page_34.png
/math_pdf_project/all_files/engg_papers_2019_Page_35.png
/math_pdf_project/all_files/engg_papers_2019_Page_36.png
/math_pdf_project/all_files/engg_papers_2019_Page_37.png
/math_pdf_project/all_files/engg_papers_2019_Page_38.png
/test-results/check-show-diagram-All-Pas-25325-ers-for-Show-Diagram-button/error-context.md
/test-results/.last-run.json
/math_pdf_project/unprocessed/
